body
  background-color: #282c34
  color: #dddddd

.social-list
  border-right: 1px solid white
  .social-list-items
    a
      color: #dddddd

.project-item
  color: #dddddd
  &:hover,
  &:focus
    color: #dddddd
