.container {
  text-align: center;
  font-weight: bold;
  font-family: 'Futura';
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 50px;
}

.link {
  cursor: pointer;
  transition: color 0.25s;
  color: var(--black);
}

.link:hover {
  color: var(--indigo);
}
